<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageBaseURL200</key>
	<string>https://image.tmdb.org/t/p/w200</string>
	<key>imageBaseURL</key>
	<string>https://image.tmdb.org/t/p/w500</string>
	<key>detailBaseURL</key>
	<string>https://api.themoviedb.org/3/tv/</string>
	<key>genresBaseURL</key>
	<string>https://api.themoviedb.org/3/genre/tv/list</string>
	<key>apiKey</key>
	<string>fac7bcf7b467651b16fb9d8b092c85ea</string>
	<key>baseURL</key>
	<string>https://api.themoviedb.org/3/discover/tv</string>
</dict>
</plist>
